$breakpoint: 812px;

@mixin desktop {
  @media (min-width: ($breakpoint + 1px)) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: 1px) and (max-width: $breakpoint) {
    @content;
  }
}

@mixin portrait {
  @media (orientation: portrait) {
    @content;
  }
}

@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}

@mixin large-heading {
  letter-spacing: -0.05em;

  @include desktop {
    font-size: 84px;
  }

  @include mobile {
    font-size: 12vw;
  }
}
